/* Dark Mode Enhancements */
body {
    height: 100vh;
    background-color: var(--body-color);
}


body.dark {
    --body-color: #18191A;
    --nav-color: #242526;
    --side-nav: #242526;
    --text-color: #CCC;  /* Light color for text */
    --search-bar: #242526;
    --search-text: #FFFFFF; /* White color for search text in dark mode */
    --bs-navbar-brand-color: var(--text-color)
    color: var(--text-color); /* Text color will be light in dark mode */
}



body.dark nav {
    border: 1px solid #393838;
}


.nav-links li a {
    position: relative;
    font-size: 17px;
    font-weight: 400;
    text-decoration: none;
    padding: 10px;
    transition: color 0.3s ease;
}

.nav-links li a::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 6px;
    width: 6px;
    border-radius: 50%;
    opacity: 0;
}

.nav-links li:hover a::before {
    opacity: 1;
}

/* Additional styles to ensure text contrast in dark mode */
body.dark .col-12 h1, body.dark h3, body.dark h5, body.dark p {
    color: var(--text-color);
}

/* Search box and input field */
body.dark .search-field input {
    color: var(--text-color); /* Ensures input text is white in dark mode */
}

body.dark .search-field i {
    color: var(--text-color); /* Ensures icon is visible in dark mode */
}

/* Shadow effect for images */
.shadow-img {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
}

[data-bs-theme=dark] .navbar-brand,[data-bs-theme=dark] .nav-link  {
    color: #CCC;

}

[data-bs-theme=dark] .article-content {
    color: #9BA4B5;
}

[data-bs-theme=dark] .invertOnDark {
    filter: invert(100%); 
} 