{% macro book_details(title, author, image, isbn ,rating=None, votes=None, small=False) %}
    {% if small %}
        <div class="col-md-3 d-flex mb-4">
    {% else %}
        <div class="col-md-4 d-flex mb-4">
    {% endif %}

        <div class="card shadow-lg border-0 rounded-4 flex-fill p-3" style="height: 100%;">
        <img src="{{ image }}" class="card-img-top img-fluid rounded-top shadow-img" alt="{{ title }}">
        <div class="card-body d-flex flex-column text-center">
            <h5 class="card-title text-primary fw-bold">
                <a href="/book/{{ isbn }}" class="text-decoration-none text-body-emphasis">
                    {{ title }}
                </a>
            </h5>
            <h6 class="text-muted">by {{ author }}</h6>
            {% if rating %}
                <div class="mt-auto">
                    <span class="badge bg-warning text-dark fs-6 px-3 py-2">★ {{ rating }}</span>
                    <span class="d-block text-muted mt-1">Votes: {{ votes }}</span>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endmacro %}
